// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2025, Altera Corporation
 */
#include "socfpga_agilex5.dtsi"

/ {
	model = "SoCFPGA Agilex5 Terasic DE25-Nano";
	compatible = "intel,socfpga-agilex5-socdk", "intel,socfpga-agilex5";

	aliases {
		serial0 = &uart1;
		ethernet0 = &gmac0;
		i2c1 = &i2c1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			label = "hps_led0";
			gpios = <&portb 17 GPIO_ACTIVE_LOW>;
		};

	};

	memory@80000000 {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0x0 0x80000000 0x0 0x0>;
	};
};

&gmac0 {
	status = "okay";
	/* TX/RX delays are on the PCB */
	phy-mode = "rgmii";
	phy-handle = <&emac0_phy0>;

	max-frame-size = <9000>;

	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		emac0_phy0: ethernet-phy@0 {
			reg = <1>;
		};
	};
};

&gpio1 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&mmc {
	status = "okay";

	no-1-8-v;
	disable-wp;
	cap-sd-highspeed;
	bus-width = <4>;
	vmmc-supply = <&sd_emmc_power>;
	vqmmc-supply = <&sd_io_1v8_reg>;
	max-frequency = <200000000>;
	sdhci-caps = <0x00000000 0x0000c800>;
	sdhci-caps-mask = <0x00002007 0x0000ff00>;
};

&osc1 {
	clock-frequency = <25000000>;
};

&qspi {
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;
		m25p,fast-read;
		cdns,read-delay = <2>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			rsu-handle = <&qspi_boot>;

			qspi_boot: partition@0 {
				label = "u-boot";
				reg = <0x0 0x01000000>;
			};
		};
	};
};

&sd_io_1v8_reg {
	gpios = <&portb 3 GPIO_ACTIVE_HIGH>;
};

&smmu {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&usb0 {
	status = "okay";
	disable-over-current;
};

&watchdog0 {
	status = "okay";
};

&watchdog1 {
	status = "okay";
};

&watchdog2 {
	status = "okay";
};

&watchdog3 {
	status = "okay";
};

&watchdog4 {
	status = "okay";
	disable-over-current;
};

&temp_volt {
	voltage {
		#address-cells = <1>;
		#size-cells = <0>;
		input@2 {
			label = "0.8V VCC";
			reg = <2>;
		};

		input@3 {
			label = "1.8V VCCIO_SDM";
			reg = <3>;
		};

		input@4 {
			label = "1.8V VCCPT";
			reg = <4>;
		};

		input@5 {
			label = "1.2V VCCCRCORE";
			reg = <5>;
		};

		input@6 {
			label = "0.9V VCCH";
			reg = <6>;
		};

		input@7 {
			label = "0.8V VCCL";
			reg = <7>;
		};
	};

	temperature {
		#address-cells = <1>;
		#size-cells = <0>;

		input@0 {
			label = "Main Die SDM";
			reg = <0x0>;
		};

		input@10001 {
			label = "Main Die corner bottom left max";
			reg = <0x10000>;
		};

		input@30001 {
			label = "Main Die corner bottom right max";
			reg = <0x30000>;
		};

		input@40001 {
			label = "Main Die corner top right max";
			reg = <0x40000>;
		};
	};
};
