// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2025, Altera Corporation
 */
#include "socfpga_agilex5_socdk.dts"

/ {
	model = "SoCFPGA Agilex3 SoCDK";
	compatible = "intel,socfpga-agilex3-socdk", "intel,socfpga-agilex3";
};

&gmac2 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&emac2_phy0>;
	max-frame-size = <9000>;
	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		emac2_phy0: ethernet-phy@0 {
			reg = <0>;
			rxc-skew-ps = <0>;
			rxdv-skew-ps = <0>;
			rxd0-skew-ps = <0>;
			rxd1-skew-ps = <0>;
			rxd2-skew-ps = <0>;
			rxd3-skew-ps = <0>;
			txc-skew-ps = <0>;
			txen-skew-ps = <60>;
			txd0-skew-ps = <60>;
			txd1-skew-ps = <60>;
			txd2-skew-ps = <60>;
			txd3-skew-ps = <60>;
		};
	};
};

&usb31 {
	maximum-speed = "high-speed";
};
