// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2025, Altera Corporation
 */
#include "socfpga_agilex5.dtsi"

/ {
	model = "SoCFPGA Agilex3 SoCDK";
	compatible = "intel,socfpga-agilex3-socdk", "intel,socfpga-agilex3";

	aliases {
		serial0 = &uart0;
		ethernet0 = &gmac0;
		ethernet1 = &gmac1;
		ethernet2 = &gmac2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led0 {
			label = "hps_led0";
			gpios = <&porta 1 GPIO_ACTIVE_HIGH>;
		};

		led1 {
			label = "hps_led1";
			gpios = <&porta 12 GPIO_ACTIVE_HIGH>;
		};

	};

	memory {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0x0 0x80000000 0x0 0x0>;
	};
};

&cpu2 {
	status = "disabled";
};

&cpu3 {
	status = "disabled";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gmac2 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&emac2_phy0>;
	max-frame-size = <9000>;
	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		emac2_phy0: ethernet-phy@0 {
			reg = <0>;
			rxc-skew-ps = <0>;
			rxdv-skew-ps = <0>;
			rxd0-skew-ps = <0>;
			rxd1-skew-ps = <0>;
			rxd2-skew-ps = <0>;
			rxd3-skew-ps = <0>;
			txc-skew-ps = <0>;
			txen-skew-ps = <60>;
			txd0-skew-ps = <60>;
			txd1-skew-ps = <60>;
			txd2-skew-ps = <60>;
			txd3-skew-ps = <60>;
		};
	};
};

&i3c0 {
	status = "okay";
};

&i3c1 {
	status = "okay";
};

&sd_io_1v8_reg {
	gpios = <&portb 3 GPIO_ACTIVE_HIGH>;
};

&mmc {
	status = "okay";

	no-mmc;
	disable-wp;
	cap-sd-highspeed;
	sd-uhs-sdr104;
	bus-width = <4>;
	vmmc-supply = <&sd_emmc_power>;
	vqmmc-supply = <&sd_io_1v8_reg>;
	max-frequency = <200000000>;
	sdhci-caps = <0x00000000 0x0000c800>;
	sdhci-caps-mask = <0x00002000 0x0000ff00>;
};

&osc1 {
	clock-frequency = <25000000>;
};

&pmu0 {
	cpus = <&cpu0>, <&cpu1>;
};

&qspi {
	status = "okay";
	cdns,fifo-depth = <0x400>;
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;
		m25p,fast-read;
		cdns,read-delay = <2>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			rsu-handle = <&qspi_boot>;

			qspi_boot: partition@0 {
				label = "u-boot";
				reg = <0x0 0x00c00000>;
			};

			root: partition@c00000 {
				label = "root";
				reg = <0x00c00000 0x03400000>;
			};
		};
	};
};

&smmu {
	status = "okay";
};

&temp_volt {
	voltage {
		#address-cells = <1>;
		#size-cells = <0>;
		input@2 {
			label = "0.8V VCC";
			reg = <2>;
		};

		input@3 {
			label = "1.8V VCCIO_SDM";
			reg = <3>;
		};

		input@4 {
			label = "1.8V VCCPT";
			reg = <4>;
		};

		input@5 {
			label = "1.2V VCCCRCORE";
			reg = <5>;
		};

		input@6 {
			label = "0.9V VCCH";
			reg = <6>;
		};

		input@7 {
			label = "0.8V VCCL";
			reg = <7>;
		};
	};

	temperature {
		#address-cells = <1>;
		#size-cells = <0>;

		input@0 {
			label = "Main Die SDM";
			reg = <0x0>;
		};

		input@10001 {
			label = "Main Die corner bottom left max";
			reg = <0x10000>;
		};

		input@30001 {
			label = "Main Die corner bottom right max";
			reg = <0x30000>;
		};

		input@40001 {
			label = "Main Die corner top right max";
			reg = <0x40000>;
		};
	};
};

&uart0 {
	status = "okay";
};

&usb0 {
	status = "okay";
	disable-over-current;
};

&usb31 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
};

&watchdog0 {
	status = "okay";
};
